.chat-message .chat-emote {
  height: 28px; 
  width: auto; 
  vertical-align: middle;
  margin: 0 2px;
  display: inline-block;
  user-select: none;
}

.chat-message .chat-emote:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}
